*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #18144d;
}

h2{
    text-align: center;
    border: 2px dashed yellow;
    margin: 15px;
    padding: 8px;
}

footer{
    margin-top: 20px;
    padding: 30px;
    background-color: yellow;
    width: 100%;
}

footer p{
    text-align:center;
}